{% extends "base.html" %}
{% load static %}
 {% block content1 %}
<div class="row my-2">
  <div class="jumbotron jumbotron-fluid mt-2">
    <h1 class="display-4">Python </h1>
  </div>
  <div class="jumbotron jumbotron-fluid mt-2">
    <h1 class="display-4">Javascript </h1>
  </div>

  <div class="jumbotron jumbotron-fluid mt-2">
    <h1 class="display-4">SQL </h1>
  </div>

  <div class="jumbotron jumbotron-fluid mt-2">
    <h1 class="display-4">AWS </h1>
  </div>

  <div class="jumbotron jumbotron-fluid mt-2">
    <h1 class="display-4">Web Development</h1>
  </div>



{% endblock content1 %}
