{% extends "base.html" %} {% load static %} {% block content1 %}

<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="circullar-image-container">
      <img
        class="circullar-image"
        src="{% static  'images/insta.PNG' %}"
        alt="image"
      />
    </div>
  </div>
</div>


<div class="col-12 text-center mt-3">
  <h4 class="intro"> Hi, my name is </h4>
    <div class="name">
      <h1> Leonard Eboka Emelieze</h1>
      <h1> I'm software Developer/Geoscientist </h1>
    </div>
</div>


{% endblock content1 %}
